.headline {
    margin: 147px 15% 0 15%;
    
    .headline__text {
        display: flex;
        flex-direction: column;
    }

    .title {
        width: 65%;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 80px;
        line-height: 100%;
        color: #212353;
        font-weight: bold
    }

    .text {
        width: 40%;
        font-size: 18px;
        line-height: 29px;
        color: #4B5D68;
        margin-bottom: 50px;
    }

    input {
        width: 170px;
        height: 60px;
        background: #9C69E2;
        border-radius: 50px;
        color: white;
    }

    input:hover {
        transition: 1s;
        background: #4ce966;
        color: rgba(250, 248, 245, 0.945);
    }

    img {
        width: 75%;
        
    }

    .headline-img {
        position: relative; 
        left: 409px;
        top: -335px;
    }

}